<h2>Take Quiz</h2>
<form method="POST">
    {% csrf_token %}
    {% for question in questions %}
        <div>
            <p>{{ question.question_text }}</p>
            <label>
                <input type="radio" name="{{ question.id }}" value="1"> {{ question.option1 }}
            </label><br>
            <label>
                <input type="radio" name="{{ question.id }}" value="2"> {{ question.option2 }}
            </label><br>
            <label>
                <input type="radio" name="{{ question.id }}" value="3"> {{ question.option3 }}
            </label><br>
            <label>
                <input type="radio" name="{{ question.id }}" value="4"> {{ question.option4 }}
            </label><br>
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
